---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout
  title="Stron - Jose Luis B. Leyva | Freelance Web developer"
  description="Stron - Jose Luis Leyva. Full stack web developer with PHP, Typescript, Javascript, Astro, HTML, CSS and more"
>
  <div class="grid-container">
    <span class="floatingBox"></span>
    <div class="grid"></div>
  </div>
  <div class="content">
    <span>I'm</span>
    <h1>STRON</h1>
    <SocialLinks />
  </div>
</Layout>
<script is:inline src="/icons.js"></script>
<script is:inline>
  const grid = document.querySelector('.grid');
  const floatingBox = document.querySelector('.floatingBox');

  const LINKS = {
    linkedin: 'https://www.linkedin.com/in/jose-luis-b-leyva/',
    youtube: 'https://www.youtube.com/@Stron_',
    portfolio: 'https://portfolio.stron.dev/',
    github: 'https://github.com/elstron',
    twitter: 'https://x.com/Stron__',
  };

  const isTitleCell = (row, col) => row >= 3 && row <= 5 && col >= 3 && col <= 5;

  let count = 0;
  for (let row = 1; row <= icons.length; row++) {
    for (let col = 1; col <= icons.length; col++) {
      if (isTitleCell(row, col)) continue;

      let icon = row % 2 === 0 ? icons[row - 1] : icons[col - 1];
      let svg = svgTemplate(icon);

      const div = document.createElement('div');
      const svgContainer = document.createElement('a');
      const title = document.createElement('p');

      svgContainer.href = LINKS[icon.name];
      svgContainer.target = '_blank';
      svgContainer.rel = 'noopener noreferrer';
      svgContainer.classList.add('svg-container');
      svgContainer.innerHTML = svg;
      svgContainer.appendChild(title);
      title.innerText = icon.name.toLocaleLowerCase();

      div.className = 'box';
      div.style.gridColumn = col;
      div.style.gridRow = row;
      div.style.anchorName = `--${row}-${col}`;
      div.appendChild(svgContainer);

      grid.appendChild(div);

      count++;
      if (count >= 35) break;
    }
    if (count >= 35) break;
  }

  grid.addEventListener('mousemove', (e) => {
    if (!e.target.classList.contains('box')) return;

    const anchorName = e.target.style.anchorName;
    floatingBox.style.left = `anchor(${anchorName} start)`;
    floatingBox.style.top = `anchor(${anchorName} start)`;
  });

  function svgTemplate(icon) {
    return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ${icon?.width ?? 24} ${icon?.width ?? 24}" preserveAspectRatio="xMidYMid meet" >${icon?.body}</svg>`;
  }

  function randomIntInRange(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  function selectRandomCell() {
    let boxses = document.querySelectorAll('.box');
    let boxSelected = randomIntInRange(0, 30);
    const anchorName = boxses[boxSelected].style.anchorName;

    boxses[boxSelected].toggleAttribute('active');

    floatingBox.style.left = `anchor(${anchorName} start)`;
    floatingBox.style.top = `anchor(${anchorName} start)`;

    setTimeout(() => {
      boxses[boxSelected].toggleAttribute('active');
    }, 2000);
  }

  setInterval(selectRandomCell, 7000);
</script>

<style id="preview-style" is:inline>
  .grid-container {
    position: relative;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 4px;
    mask-image: radial-gradient(circle, transparent 0%, black 100%);
    -webkit-mask-image:
      radial-gradient(circle, black 20%, #fff0 100%),
      radial-gradient(circle, black 20%, #fff0 100%),
      radial-gradient(circle, black 20%, #fff0 100%), radial-gradient(circle, black 20%, #fff0 100%);
  }

  .floatingBox {
    position: absolute;
    width: calc(100% / 7 - 4px);
    height: calc(100% / 7 - 4px);
    background-color: #4c527b1f;
    border-radius: 20px;
    pointer-events: none;
    z-index: 2;
    transition:
      left 0.3s ease,
      top 0.3s ease;
  }

  .box {
    background: #ffffff05;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: currentColor;
    & > .svg-container {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      max-width: 48px;
      width: 100%;
      padding: 0.2rem;
      & svg {
        width: 100%;
        height: auto;
      }
    }
  }
  .box[active],
  .box:hover {
    background-color: #4c527b;

    & > .svg-container {
      display: flex;
    }
  }
  .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -65dvh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: #fff;
  }

  h1 {
    font-size: clamp(2rem, 12vw, 9rem);
    grid-column: 3 / span 3; /* columnas 3, 4, 5 */
    grid-row: 3 / span 3; /* filas 3, 4, 5 */
    text-align: center;
    margin: 0;
  }
</style>
